@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Moderustic:wght@300..800&display=swap');

:root {
    --color-primario: #55679C;
    --color-secundario: #7C93C3;
    --color-terciario: #353535;
    --color-fondo: #d9cccc;
    --color-fondo-contenedor: #ddc0b2;
    --color-hover: #94aace;
    --color-hover-2: #e4e4e4;
    --color-texto-boton: #FFF5E4;
    --color-boton-desencriptar: #cccccc;
    --fuente-moderustic: "Moderustic", sans-serif;
    --fuente-inter: "Inter", sans-serif;
}

* {
    background: var(--color-fondo);
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: 300;    
}

.logo {
    padding-top: 20px;
    margin-left: 8px;
    width: auto;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 100px;
}

.encriptador {
    border: none;
    color: var(--color-primario);
    margin-top: 70px;
    text-transform: lowercase;
}
::placeholder {color: var(--color-primario);}
    .encriptador:focus {
    outline: none;
}

.reglas {
    font-size: 0.9rem;
    font-style: oblique;
    font-family: var(--fuente-moderustic);
    color: var(--color-terciario);
    opacity: 0.9;
}

.resultado {
    background-position: center;
    border: none;
    background: var(--color-fondo-contenedor);
    background-image: url("/assets/lupa.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    color: var(--color-terciario);
    margin-left: 800px;
    margin-top: 50px;
    padding-left: 20px;
    position: absolute;
    font-family: var(--fuente-inter);
}
::placeholder
.resultado:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 15px;
    text-align: center;
    font-family: var(--fuente-moderustic);
    gap: 10px;
}

.boton-encriptar {
    background-color: var(--color-secundario);
    border: 2px solid var(--color-primario);
    color: var(--color-texto-boton);
    border-radius: 20px;
    cursor: pointer;
    height: 70px;
    width: 300px;
}
.boton-encriptar:hover {
    background-color: var(--color-hover);
}

.boton-desencriptar {
    background-color: var(--color-boton-desencriptar);
    border: 2px solid var(--color-secundario);
    color: var(--color-primario);
    border-radius: 20px;
    cursor: pointer;
    height: 70px;
    width: 300px;
}
.boton-desencriptar:hover {
    background-color: var(--color-hover-2);
}

.boton-copiar {
    background-color: var(--color-secundario);
    border: 2px solid var(--color-primario);
    color: var(--color-texto-boton);
    border-radius: 20px;
    cursor: pointer;
    height: 70px;
    width: 300px;
    position: absolute;
    margin-left: 210px;
    margin-top: 480px;
    text-align: center;
}
.boton-copiar:hover {
    background-color: var(--color-hover);
}

.footer {
    padding: 2rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-inter);
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 62% auto;
        margin: auto;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .resultado {
        position: inherit;
        display: flex;
        flex-direction: column;
        margin-left: 1px;
        padding: 2px;
        width: 95%;
        height: 350px;
        background-image: none;
        justify-content: center;
    }
    .botones {
        justify-content: center;
    }
    .boton-copiar{
        display: flex;
        position: relative;
        margin: auto;
        justify-content: center;
        text-align:center;
        align-items: center;
    }
}

@media (max-width: 375px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 62% auto;
        margin: auto;
        gap: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
    .resultado {
        position: inherit;
        display: flex;
        flex-direction: column;
        margin-left: 1px;
        padding: 2px;
        width: 95%;
        height: 300px;
        background-image: none;
        justify-content: center;
    }
    .botones {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .boton-copiar{
        display: flex;
        position: relative;
        margin: auto;
        justify-content: center;
        text-align:center;
        align-items: center;
    }
}